 /* Estilos personalizados */
 * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
  }

  .vertical-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
    z-index: 1000;
  }

  .vertical-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .vertical-nav ul li {
    margin-bottom: 15px;
  }

  .vertical-nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .vertical-nav ul li a:hover {
    background-color: #495057;
  }

  .main-content {
    margin-left: 250px;
    padding: 20px;
  }

  .hero-section {
    position: relative;
    max-width: 100%;
  }

  .carousel-item img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
  }

  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #343a40;
    color: #fff;
  }

  /* Media Queries para dispositivos móviles */
  @media (max-width: 768px) {
    .vertical-nav {
      width: 100%;
      height: auto;
      position: relative;
    }

    .main-content {
      margin-left: 0;
    }
  }